<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href="../css/oefeningen.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../js_lib/copyright.js"></script>

<title>Templates oefeningen</title>
</head>

<body>
<div id="mainbox">
	<header>
		<img src="../images/webontwikkeling.jpeg"  height="100%" alt="webontwikkeling"/>
		<p>Web-ontwikkeling</p>
	</header>
	<nav>
		<ul>
			<li><a href="php11_o_1_producten.php">Produkten</a></li>
			<li><a href="php11_o_1_klanten_b.php">Klanten</a></li>
		</ul> 
	</nav>
  
	<section>
		<article id="artleft">
			<h1>Smarty</h1>
			<p>Smarty is a web template system written in PHP. Smarty is primarily promoted as a tool for separation of concerns.[1] Smarty is intended to simplify compartmentalization, allowing the front-end of a web page to change separately from its back-end. Ideally, this lowers costs and minimizes the efforts associated with software maintenance.</p>
		</article>
		<article id="artright">

		</article>
	</section>
  
	<footer>
		<script language="javascript">
			document.write(copyRight("webontwikkeling.info"));
		</script>
	</footer>
  
</div>

</body>
</html>
